pyexcel>=0.2.1
pyexcel-xlsx
pyexcel-text>=0.2.0

dicttoxml

lxml  # need for lxmlproc; see https://github.com/nicferrier/lxmlproc/pull/1
lxmlproc

git+https://github.com/jayvdb/pytest-sqlalchemy@travis
