pyexcel
pyexcel-xlsx
pyexcel-text

dicttoxml

lxml  # need for lxmlproc; see https://github.com/nicferrier/lxmlproc/pull/1
lxmlproc

# cx_Oracle workaround https://bitbucket.org/zzzeek/sqlalchemy/issues/3705
git+https://github.com/jayvdb/sqlalchemy@oracle-passwordless
pytest-sqlalchemy
